# Mac
**/.DS_Store

# VS Code
.vscode/*

# Env files
.env
src/instructions.json

# Files
split_model.py

# Python
__pycache__/
*.py[cod]

# Code
*.ipynb_checkpoints
*.pyc

# Notebooks
notebooks/*
!notebooks/README.md
